{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block body %}


    <div class="container d-flex justify-content-center">
        <table class="table table-striped bg-white text-center w-50">
            <thead>
            <tr>
                <th scope="col">Produits</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
                <tr>
                    <td><a href="{{ path('product', {'slug': product.slug}) }}">{{ product.name }}</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
